{% extends 'yummy.html' %}

{% load static %}

{% block stylesheet %}
<link href="{% static 'order.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<section id="menu" class="menu section-bg mt-5">
    <div class="container mt-5">
        <h2>Order Food</h2>
        <form id="order-food-form" action="{% url 'orders:order' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="menu" value="{{ menu.id }}">
            <input type="hidden" name="total_amount" value="{{ menu.price }}">
            <br />
            <div class="form-group">
                {{ form.street.as_field_group }}
            </div>
            <br />
            <div class="form-group">
                {{ form.city.as_field_group }}
            </div>
            <br />
            <div class="form-group">
                {{ form.state.as_field_group }}
            </div>
            <br />
            <div class="form-group">
                {{ form.zipcode.as_field_group }}
            </div>
            <br />
            <div class="form-group">
                {{ form.mobile.as_field_group }}
            </div>
            <br />
            <div class="form-group">
                <label>Select Payment Method:</label><br />
                <div class="form-check form-check-inline">
                    {{ form.payment_method }}
                </div>
                <br />
            </div>
            <br />
            <div class="form-group">
                {{ form.branch.as_field_group }}
            </div>
            <br />
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h4>Review Order</h4>
                    <p>
                        <strong>{{ menu.category }}:</strong> {{ menu.name }}
                    </p>
                </div>
                <div class="col-md-6">
                    <h4>Total Amount</h4>
                    <p>
                        <strong>RM {{ menu.price }}</strong>
                    </p>
                </div>
            </div>
            <hr />
            <button style="margin-left: 850px;" type="submit" class="btn btn-primary">Place Order</button>
            <a href="{% url 'menus:menu' %}" class="btn btn-secondary ml-2"> Cancel</a>
        </form>
    </div>
</section>
<!-- End Menu Section -->
{% endblock %}