{% extends 'base.html' %}

{% load static %}

{% block content %}

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact mt-5">
    <div class="container mt-5" data-aos="fade-up">
      <div class="section-title">
        <p>Contact Us</p>
      </div>
    </div>

    <div class="container" data-aos="fade-up">
      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>123 Jalan Bukit Bintang, Bukit Bintang, 55100 Kuala Lumpur, Malaysia</p>
            </div>

            <div class="open-hours">
              <i class="bi bi-clock"></i>
              <h4>Open Hours:</h4>
              <p>
                Monday-Saturday:<br />
                11:00 AM - 2300 PM
              </p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>info@yummy.com.my</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+60 3-1234 5678</p>
            </div>
          </div>
        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
          <form action="{% url 'contacts:view-contact' %}" method="post" role="form" class="php-email-form">
            {% csrf_token %} 
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required />
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required />
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required />
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="8" placeholder="Message" required></textarea>
            </div><br>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div><br>
            <div class="text-center" id="success-message" style="display: none;">
              Your message has been sent. Thank you!
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
{% endblock %}


{% block script %}
<script>
  $(document).ready(function() {
    // Attach an event listener to the form submission
    $('form').submit(function(event) {
      event.preventDefault(); // Prevent the default form submission
      var form = $(this); // Reference to the form element
      
      // Serialize the form data
      var formData = form.serialize();

      // Send a POST request to the form action URL using AJAX
      $.ajax({
        type: form.attr('method'),
        url: form.attr('action'),
        data: formData,
        success: function(response) {
          // Clear the form fields
          form.find('input[type=text], input[type=email], textarea').val('');
          // Display success message
          $('#success-message').show();
        },
        error: function(xhr, status, error) {
          // Display error message
          $('#error-message').show();
        }
      });
    });
  });
</script>

{% endblock %}
