{% extends 'yummy.html' %}

{% load static %}

{% block content %}
  <!-- ======= About Section ======= -->
  <section id="about" class="about mt-5">
    <div class="container mt-3" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img src="{% static 'assets/img/about.jpg' %}" alt="" />
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Welcome to Yummy Food Restaurant!</h3>
          <p class="fst-italic">At Yummy Food, we believe that food is not just sustenance; it's an experience, a celebration of flavors, and a way to bring people together. Established with a passion for culinary excellence and a commitment to quality, our restaurant has been serving delectable dishes to satisfy every palate since 2024. Our journey began with a simple vision: to create a haven where food enthusiasts can indulge in the finest flavors, prepared with love and care. From our kitchen to your table, we take pride in sourcing the freshest ingredients, handpicking each component to ensure every bite is a delightful journey of taste and texture.</p>
          <ul>
            <li>
              <i class="bi bi-check-circle"></i> Yummy Food is more than just a restaurant; it's a community.
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Committed to excellence in every aspect of our service
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Fast Delivery Service
            </li>
          </ul>
          <p>Thank you for choosing Yummy Food Restaurant. We look forward to serving you and being a part of your culinary journey</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->
{% endblock %}
