{% extends 'dashboard.html' %}

{% load static %}

{% block stylesheet %}
  <link href="{% static 'css/admin.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <br>
            <div>
                <h4 class="mt-0 header-title menu-title" style="font-size: 30px; margin-left: 18px;">Order Details</h4>
            </div>
            <div class="card-body">
                <!-- Add New Menu Form -->
                <form>
                    <div>
                        <h5>Customer Details</h5>
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="menuName" class="form-label">Name</label>
                        <p><b>{{ order.get_name }}</b></p>
                    </div>
                    <div class="mb-3">
                        <label for="menuName" class="form-label">Email</label>
                        <p><b>{{ order.user.email }}</b></p>
                    </div>
                    <div class="mb-3">
                        <label for="menuDescription" class="form-label">Address</label>
                        <p><b>{{ order.get_address }}</b></p>
                    </div>
                    <div class="mb-3">
                        <label for="menuImage" class="form-label">Contact</label>
                        <p><b>{{ order.mobile }}</b></p>
                    </div>

                <br>
                <hr>
                <h5>Order View</h5>
                <br>
                <div class="mb-3">
                    <label for="menuPrice" class="form-label">Branch</label>
                    <p><b>{{ order.branch }}</b></p>
                </div>
                    <div class="mb-3">
                        <label for="menuPrice" class="form-label">Menu</label>
                        <p><b>{{ order.menu.name }}</b></p>
                    </div>
                    <div class="mb-3">
                        <label for="menuPrice" class="form-label">Total Amount</label>
                        <p><b>RM {{ order.total_amount }}</b></p>
                    </div>
                    <div class="mb-3">
                        <label for="menuPrice" class="form-label">Payment Method</label>
                        <p><b>{{ order.get_payment_method_display }}</b></p>
                    </div>
                    <div class="mb-3">
                        <label for="menuPrice" class="form-label">Order Status</label>
                        <p><b>{{ order.get_order_status_display }}</b></p>
                    </div>
                    <div class="d-flex justify-content-end mt-5">
                        <form action="{% url 'dashboard:orders.show' pk=order.id %}" method="get">
                            <a class="btn btn-custom me-2" href="{% url 'dashboard:orders.index' %}">Back</a>
                            {% if order.get_order_status_display == 'New' %}
                            <button class="btn btn-danger me-2" type="submit" name="order_status" value="3">Reject</button>
                            <button class="btn btn-custom ms-2" type="submit" name="order_status" value="2">Accept</button>
                            {% endif %}
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}{% endblock %}
