{% extends 'dashboard.html' %}

{% load static %}

{% block stylesheet %}
<link href="{% static 'css/admin.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="offset-3 col-7">
        <div class="card">
            <br />
            <div>
                <h4 class="mt-0 header-title menu-title">Update Menu</h4>
            </div>
            <div class="card-body">
                <!-- Update Menu Form -->
                <form action="{% url 'dashboard:menus.edit' pk=menu.pk %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="text-center mb-4">
                        {% if menu.image %}
                        <img id="menu-image-preview" src="{{ menu.image.url }}" alt="Menu Image" class="img-circle" />
                        {% else %}
                        <img id="menu-image-preview" src="{% static 'path/to/default/image.jpg' %}" alt="Menu Image"
                            class="img-circle" />
                        {% endif %}
                    </div>

                    <div class="text-center mb-4">
                        <button type="button" class="btn btn-change-image" id="change-image-btn">Change Image</button>
                    </div>
                    <div class="mt-4 update-image">
                        {{ form.image }}
                    </div>
                    <div class="my-3">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                    </div>
                    <div class="mt-4">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </div>
                    <div class="mt-4">
                        {{ form.category.label_tag }}
                        {{ form.category }}
                    </div>
                    <div class="mt-4">
                        {{ form.price.label_tag }}
                        {{ form.price }}
                    </div>
                    <br />

                    {% for error in field.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}

                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="d-flex justify-content-center">
                        <a href="{% url 'dashboard:menus.index' %}" class="btn btn-danger me-2">Cancel</a>
                        <button type="submit" class="btn btn-custom ms-2">Update Menu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/menu.js' %}"></script>
{% endblock %}
