{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}

<div class="jumbotron" style="background-color: black">
    <h1 class="display-4" style="color: white">Welcome, {{user.first_name.title|default:'Admin'}}</h1>
    <p class="lead" style="color: #878787">
        This is <b>Yummy, the best in town.</b> The website or app where customers can view menus, select dishes,
        customize orders, and place their food orders.
    </p>
    <hr class="my-4">
    <p class="lead">
        {% if user.is_authenticated %}
    <form id="logoutform2" action="{% url 'logout' %}" method="post">
        {% csrf_token %}
    </form>
    <a href="#" class="btn btn-warning btn-lg" onclick="document.getElementById('logoutform2').submit();">Logout</a>
    {% else %}
    <a class="btn btn-warning btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
    {% endif %}
    </p>
</div>

{% endblock content %}
