{% extends 'dashboard.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="dashboardcontainer">
    <div class="section">
        <h1>Dashboard</h1>
        <p>Hi, Admin. Welcome back!</p>
    </div>

    <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
        <div class="section card" id="totalOrdersSection">
            <h4>Total Orders</h4>
            <p><span id="totalOrders">0</span></p>
        </div>
        <div class="section card" id="acceptedOrdersSection">
            <h4>Total Accepted</h4>
            <p><span id="acceptedOrders">0</span></p>
        </div>
        <div class="section card" id="rejectedOrdersSection">
            <h4>Total Rejected</h4>
            <p><span id="rejectedOrders">0</span></p>
        </div>
        <div class="section card" id="revenueSection">
            <h4>Total Revenue</h4>
            <p>RM <span id="totalRevenue">0.00</span></p>
        </div>
    </div>

    <div class="section card" id="popularItemsSection">
        <h4>Popular Menu Items</h4>
        <ul id="popularItems">
            <li>TUNA SAN</li>
            <li>BERRY GRAPEFUL</li>
            <li>PEANUT BUTTER COCONUT OATMEAL</li>
        </ul>
    </div>

    <!-- Revenue Chart Section -->
    <div class="section card" id="revenueChartSection">
        <h4>Revenue Chart (Monthly)</h4>
        <div class="chart-container">
            <canvas id="revenueChart"></canvas>
        </div>
    </div>
    <!-- End Revenue Chart Section -->
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/dashboard-chart.js' %}"></script>
{% endblock %}
