{% extends 'dashboard.html' %}

{% load static %}

{% block css_files %}
  <link href="{% static 'css/admin.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <br>
            <div>
                <h4 class="mt-0 header-title menu-title" style="font-size: 30px; margin-left: 18px;">Order Details</h4>
            </div>
            <div class="card-body">
                <!-- Add New Menu Form -->
                <form>
                    <div>
                        <h5>Customer Details</h5>
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="menuName" class="form-label">Name</label>
                        <p><b>Asma Hanifah</b></p>
                    </div>
                    <div class="mb-3">
                        <label for="menuName" class="form-label">Email</label>
                        <p><b>asma@yopmail.com</b></p>
                    </div>
                    <div class="mb-3">
                        <label for="menuDescription" class="form-label">Address</label>
                        <p><b>81, Jalan SS2/47 Petaling Jaya</b></p>
                    </div>
                    <div class="mb-3">
                        <label for="menuImage" class="form-label">Contact</label>
                        <p><b>+60176512286</b></p>
                    </div>

                <br>
                <hr>
                <h5>Order View</h5>
                <br>
                <div class="mb-3">
                    <label for="menuPrice" class="form-label">Restaurant</label>
                    <p><b>Yummy Food Restaurant - Bukit Bintang</b></p>
                </div>
                    <div class="mb-3">
                        <label for="menuPrice" class="form-label">Order</label>
                        <p><b>1x TUNA SAN</b></p>
                    </div>
                    <div class="mb-3">
                        <label for="menuPrice" class="form-label">Price</label>
                        <p><b>RM 12</b></p>
                    </div>
                    <div class="mb-3">
                        <label for="menuPrice" class="form-label">Payment Method</label>
                        <p><b>Cash</b></p>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="d-flex justify-content-end mt-5">
                        <a href="{% url 'dashboard:view-order' %}" class="btn btn-danger me-2">Reject</a>
                        <button type="submit" class="btn btn-custom ms-2">Accept</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}{% endblock %}
