{% extends 'dashboard.html' %}

{% load static %}

{% block content %}
  <div class="container">
    <div class="section">
      <h4 style="color: black;">Total Orders</h4>
      <p>
        Total number of orders: <span id="totalOrders">0</span>
      </p>
    </div>

    <div class="section">
      <h4>Total Accepted Orders</h4>
      <p>
        Total number of accepted orders: <span id="acceptedOrders">0</span>
      </p>
    </div>

    <div class="section">
      <h4>Total Rejected Orders</h4>
      <p>
        Total number of rejected orders: <span id="rejectedOrders">0</span>
      </p>
    </div>

    <div class="section">
      <h4>Total Revenue</h4>
      <p>
        Total revenue: RM
        <span id="totalRevenue">0.00</span>
      </p>
    </div>

    <div class="section">
      <h4>Popular Menu Items</h4>
      <ul id="popularItems">
        <!-- Populate with popular menu items -->
        <li>TUNA SAN</li>
        <li>BERRY GRAPEFUL</li>
        <li>EANUT BUTTER COCONUT OATMEAL</li>
        <!-- Add more items here -->
      </ul>
    </div>
    <div class="section">
      <h4>Revenue Chart (Monthly)</h4>
      <div class="chart-container">
        <canvas id="revenueChart"></canvas>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}

<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/dashboard-chart.js' %}"></script>
{% endblock %}