{% extends 'dashboard.html' %}

{% load static %}

{% block stylesheet %}
<link href="{% static 'css/admin.css' %}" rel="stylesheet" />
<link href="{% static 'css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div>
                <h4 class="mt-0 menu-title">Contact</h4>
            </div>
            <div class="card-body">
                <!-- Menu Title and New Menu Button -->
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="mt-0 header-title menu-title"></h4>
                    </div>
                </div>

                <table id="datatable" class="table table-bordered dt-responsive table-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Table rows here -->
                        {% for contact in all_contacts %}
                        <tr>
                            <td>{{ contact.name }}</td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.subject }}</td>
                            <td>{{ contact.message }}</td>
                            <td>
                                <a href="{% url 'dashboard:contacts.show' pk=contact.id %}" class="btn rounded btn-success">View</a>
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'js/datatables.init.js' %}"></script>
{% endblock %}
